kekker/Documents/
kekker/Downloads/
kekker/media/
kekker/Projects/
kekker/sddm-deepin/

kekker/.cache/
kekker/.cmake/
kekker/.gnupg/
kekker/.local/
kekker/.pki/
kekker/.terminfo/

kekker/.dmrc
kekker/.python_history
kekker/.xinitrc
kekker/.xscreensaver

kekker/.emacs.d/auto-save-list/
kekker/.emacs.d/_backups/

kekker/.emacs.d/ac-comphist.dat
kekker/.emacs.d/ido.last
